/* ESTILOS DEL MAIN */

@use "../mixins/responsive.scss" as *;

.main {
  background-color: #f2eae2;
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;

  @include responsive(desktop) {
    padding: 175px 0;
  }
}
